@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

@font-face {
  font-family: "Harper";
  src: url("/fonts/harper.ttf") format("truetype");
}

@font-face {
  font-family: "Nifty";
  src: url("/fonts/nifty.woff") format("truetype");
}

.main {
  display: flex;
  flex-direction: column;
  font-family: "Alata", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  justify-content: space-between;
  background-color: #262527;
  align-items: center;
  min-height: 100vh;
}

.title {
  font-family: "Nifty", sans-serif;
  text-transform: lowercase;
  font-weight: bolder;
  font-size: 7em;
}
